$primary: #0ad1e7;

.navbar {
    z-index: 10;
    display: flex;
    flex-flow: row;
    height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.055);
    /* border: 1px solid rgb(234, 238, 14); */
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
}

.logo {
    flex: 20%;
    margin-left: 1%;
    margin-top: 2.5%;
    /* border:1px solid red;  */
    text-align: left;
}

.logo img {
    height: 200px;
}

.menu {
    flex: 70%;
    /* border:1px solid green;*/
    text-align: right;
    padding: 20px;
}

.menu a {
    color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    cursor: default;
}

.menu a:hover {
    color: $primary;
    ;
    border-top: 4px solid $primary;
}

#botao {
    background: $primary;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #0795a5;
}